.container_form{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F7;
}

.container_form h2{
    font-size: 2.4rem;
}

.container_form p{
    margin-bottom: 1.4rem;
}


.container_form form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
    max-width: 40rem;
    background-color: #fff;
    padding:  3rem;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 5rem #1018281b;

}
/*
.container_form form label:not(:last-of-type){
    position: relative;
   
}

.container_form form label:not(:last-of-type)::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: #2563DC;
    transition: 2s;
}

.container_form form label:not(:last-of-type):has(:focus)::after{
    width: 100%;
}*/

.container_form form label input{
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #dcdcdc;
   
    
}



.container_form form label input[type="submit"]{
    background-color: #2563DC;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.container_form form label input[type="submit"]:hover{
    background-color: #0e3582;
}

.container_form form span{
    font-size: 1.2rem;
}


.container_form form label input[type="submit"]:disabled,.container_form form label input[type="submit"]:disabled:hover{
    cursor: auto;
    background-color: #e5e5e5;
}