*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 1.6rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: #fff;
    --color-bg:#F8FAFB;
    --color-blue: #2563DC;
    --color-blue-bg: #EEF2FC;
    --color-blue-title: #14367B;
    --color-black-title: #3D3D3D

    --color-red-bg:#FDF0EC;
    --color-red: #81290E;
}

html{
    font-size: 62.5%;
}

