.container_form{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #063378;
    background-image: url('/bg-geo.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.container_form h2{
    font-size: 2.4rem;
}

.container_form p{
    margin-bottom: 1.4rem;
    line-height: 25px;
}


.container_form form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
    max-width: 40rem;
    background-color: #fff;
    padding:  3rem;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 5rem #1018281b;

}


.container_form form label input{
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #dcdcdc;
   
    
}



.container_form form label input[type="submit"]{
    background-color: #2563DC;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.container_form form label input[type="submit"]:disabled,.container_form form label input[type="submit"]:disabled:hover{
    cursor: auto;
    background-color: #e5e5e5;
}
.container_form form label input[type="submit"]:hover{
    background-color: #0e3582;
}

.container_form form span{
    font-size: 1.25rem;
    text-align: center;
}

.container_form form span a{
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 600;
    font-size: 1.4rem;
}